// Common styles of the project

html, body {
    height: 100%;
}

.page__wrapper {
    margin-bottom: -50px;
}

* html .page__wrapper {
}

body{
    font-family: "opensans";
}

.wrapper{
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-direction: column;
}

.m-img-cont{
    background-size: cover;
    background-position: center center;
    img{
        display: none;
    }
}


.new{
    &_partner{
        margin: 30px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &__pretitle{
            font-family: 'opensansEB';
            font-size: 24px;
            color: rgb(67, 67, 67);
            line-height: 1;
        }
        &__img-cont{
            height: 210px;
            position: relative;
            cursor: pointer;
            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #000;
                opacity: 0;
                transition: 0.3s;
            }
            
        }
        &__items{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin-top: 30px;
            justify-content: space-between;
        }
        &__title{
            font-size: 18px;
            font-family: "opensansSB";
        }
        &__desc{
            font-size: 16px;
            font-family: "opensans";
            color: rgb(53, 53, 53);
            margin-top: 5px;    
        }

        &__addy{
            font-size: 14px;
            font-family: "opensans";
            color: rgb(81, 81, 81);
            margin-top: 20px;
            display: flex;
            align-items: center;
            img{
                margin-right: 10px;
            }
        }
        &__item{
            width: 48.9%;
            display: flex;
            position: relative;
            flex-direction: column;
            background-color: #f1f1f1;
            margin-bottom: 30px;
            @media screen and(max-width: 600px) {
                width: 100%;
            }
            &:hover{
                .new_partner__img-cont:before{
                    opacity: 0.4;

                }
            }
        }
        &__percent{
            font-size: 16px;
            font-family: "opensansSB";
            color: rgb(255, 255, 255);
            position: absolute;
            z-index: 100;
            right: 40px;
            top: -1px;
            padding: 20px 10px;
            background-color: rgb(244, 144, 144);
            box-shadow: 0.174px 4.997px 6.58px 0.42px rgba(78, 78, 78, 0.26);
            
        }
        &__content{
            display: flex;
            flex-direction: column;
            padding: 30px; 
        }
    }
}

.new-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and(max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.new-ad-popup{
    display: flex;
    flex-direction: column; 
    background-color: #fff;
    max-width: 585px;
    width: 100%;
    padding: 55px 40px;
    position: absolute;
    top: 50px;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    margin-bottom: 40px;    
    &.visible{
        visibility: visible;
        opacity: 1;
    }
    @media screen and(max-width: 1024px) {
        max-width: 70%;
        
    }
    @media screen and(max-width: 768px) {
        max-width: 90%;
        padding: 10px;
    }
    @media screen and(max-width: 425px) {
        max-width: 96%;
    }
}

.new-ad-popup-close{
    position: absolute;
    top: -35px;
    right: -35px;
    width: 30px;
    height: 30px;
    transition: 0.3s;
    &:hover{
        transform: rotate(90deg);
    }
    @media screen and(max-width: 768px) {
        right: 0;
    }
}

.new-popup__container{
    position: relative;
}

.new-overlay{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    overflow-y: auto;
    transition: 0.3s;
    max-height: 100vh;
    &.visible{
        visibility: visible;
        opacity: 1 ;
    }
    
}

.form-ad{
    display: flex;
    flex-direction: column;
    text-align: center;
    h1{
        margin-bottom: 20px;
        width: 100%;
        max-width: 100%;
        &:before{
            display: none;
        }
    }
    input{
        height: 50px;
        max-width: 100%;
        width: 100%;
        font-family: "opensans";
        margin-bottom: 10px;
        &::placeholder{
            color: #333333;
        }
    }
    textarea{
        width: 100%;
        border-radius: 22px;
        border: 2px solid #e8e8e8;
        min-width: 100%;
        max-width: 100%;
        max-height: 170px;
        min-height: 170px;
        padding: 30px;
        margin-bottom: 10px; 
        &::placeholder{
            text-transform: uppercase;
            font-family: 'opensans';
            font-size: 12px;
            font-weight: bold;
            color: #333333; 
        }
    }
    &__row{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .new-board-select{
            width: 48%;
            margin-bottom: 10px;
            @media screen and(max-width: 605px) {
                width: 100%;
            }
        }
        
        input{
            width: 48%;
            @media screen and(max-width: 605px) {
                width: 100%;
            }
        }

        
    }

    .__lk-fileInput{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 20px;
        input{
            max-width: auto;
            width: auto;
            display: inline-flex;
            height: auto;
            margin-bottom: 0;
            background-color: transparent;
            color: #7d99ff;
            display: none;
        }
        span {
            font-size: 12px;
            cursor: pointer;
            display: flex;
            margin-right: 10px;            
            color: #7d99ff;
            text-transform: uppercase;
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
    }
}
.new-board{
    margin-top: 60px;
    margin-bottom: 40px;    
    &__selects{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
    }
    &__buttons{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__button{
        padding: 0 45px;
        height: 55px;
        margin-bottom: 10px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f1f1f1;
        transition: 0.3s;
        color: white;
        font-family: 'raleEB';
        font-size: 16px;
        color: rgb(53, 53, 53);
        text-transform: uppercase;
        letter-spacing: 2px;
        &:hover{
            background-color: #f77373;
            color: #fff;
        }
        &.active{
            background-color: #f77373;
            color: #fff;
        }
    }
    
}

.new-ad {
    margin-top: 40px;
    margin-bottom: 40px;
    &__content{
        display: flex;
        @media screen and(max-width: 768px) {
            display: flex;
            flex-direction: column;
        }
    }
    &__left{
        max-width: 570px;
        width: 100%;
        min-height: 375px;
        height: 100%;
        display: flex;
        margin-right: 30px;
        @media screen and(max-width: 768px) {
            max-width: 100%;
        }
    }
    &__right{
        max-width: 570px;
        display: flex;
        flex-direction: column;
    }
    &__title{
        font-size: 30px;
        font-family: "Open Sans";
        margin-top: 20px;
        color: rgb(244, 144, 144);
        font-weight: bold;
        margin-bottom: 10px;
    }
    &__desc{
        font-size: 16px;
        color: rgb(67, 67, 67);
        font-weight: 500;
        line-height: 1.2;
        margin: 10px 0
    }
    &__info{
        display: flex;
        align-items: center;
        margin-top: 25px;
        margin-bottom: 10px;
        @media screen and(max-width: 425px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__info-left{
        font-size: 14px;
        font-family: "Open Sans";
        color: rgb(81, 81, 81);
        line-height: 1.429;
        margin-right: 50px;
        display: flex;
        align-items: center;
        svg{
            margin-right: 10px;
        }
          
    }

    &__info-right{
        font-size: 14px;
        font-family: "Open Sans";
        color: rgb(81, 81, 81);
        span{
            font-size: 14px;
            font-family: "Open Sans";
            color: rgb(81, 81, 81);
            font-weight: bold;
            margin-right: 15px;
        }
          
    }

}

.new__button-container{
    display: flex;
    margin-top: auto;
}

.new-calc-desc{
    color: #ff5549;
}

.s_calc__input {
    width: 100%;
}

.s_calc__fields_col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-twin{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    &__title{
        font-size: 24px;
        font-family: "Raleway";
        color: rgb(53, 53, 53);
        
    }
    &__items{
        display: flex;
        flex-wrap: wrap;
        margin-top: 25px;
        justify-content: space-between;
    }
    &__item{
        width: 48.7%;
        background-color: #f1f1f1;
        display: flex;
        margin-bottom: 30px;
        flex-direction: column;
        @media screen and(max-width: 700px) {
            width: 100%;
            margin-bottom: 30px;
        }
    }
    &__top{
        height: 210px;
        width: 100%;
        position: relative;
        transition: 0.3s;
        &:hover{
            opacity: 0.8;
        }
    }
    &__price{
        background-color: rgb(244, 144, 144);
        box-shadow: 0.174px 4.997px 6.58px 0.42px rgba(78, 78, 78, 0.26);
        position: absolute;
        top: -1px;
        right: 40px;
        min-width: 150px;
        padding: 20px 20px;
        color: #ffffff;
        font-family: "Open Sans";
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
    }

    &__content{
        padding: 30px
    }
    &__content-title{
            font-size: 18px;
            font-family: "Open Sans";
            color: rgb(53, 53, 53);
            letter-spacing: 1px;
            font-weight: bold;
            &:hover{
                text-decoration: underline;
            }
    }
    &__content-desc{
            font-size: 16px;
            font-family: "Open Sans";
            margin-top: 5px;
            color: rgb(53, 53, 53);
            letter-spacing: 1px;
    }
}