<div class="new_partner__item">
    <div class="new_partner__img-cont m-img-cont">
        <img src="../static/img/content/1.jpg" alt="">
    </div>

    <div class="new_partner__content">
        <div class="new_partner__title">
            Магазин «Деловой»
        </div>

        <div class="new_partner__desc">
            Канцелярия
        </div>

        <div class="new_partner__addy">
            <img src="../../static/img/content/map.png" alt="">
            г.Павлодар, пр.Тәүелсіздік 2, ул.Сатпаева 63/1
        </div>
    </div>

    <div class="new_partner__percent">
        10%
    </div>
</div>